body {
    background-color: black;
}

nav ul{
    display: flex;
    height: 50px;
    list-style-type: none;
    color: white;
    align-items: center;

}

nav ul li{
    padding: 0 14px;
}

.brand img {
    height: 45px;
    padding: 0 2px;
}

.login,
.signup {
    background-color: white;
    color: black;
    border-radius: 28px;
    border: none;
    height: 50px;
    width: 100px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
    
}

.container {
    background-color: #fff;
    border: none;
    border-radius: 30px;
    height: 800px;
    margin: 20px 150px;
    width: 1600px;
    justify-content: center;
    display: flex;
}

.anirudhbanner {
    border: none;
    border-radius: 30px;
    height: 400px;
    margin:90px 175px 15px;
    box-shadow: 0 3px 10px rgb(0 0 0 / 0.8);
}
.songlist {
    background-color: rgb(255, 255, 255);
    color: black;
    border-radius: 23px;
    width: 650px;
    margin-left: 150px;
    
}
.songlisttext {
    width: 510px;
    height: 75px;
    border: none;
    border-radius: 25px;
    background-color: #000000f3;
    box-shadow: 0 3px 10px rgb(0 0 0 / 0.6);
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
}
.track {
    margin-left: 70px;
}
.duration {
    margin-left: 400px;
}
.timer {
    margin-left: 400px;
}

.songItem{
    
    font-size: large;  
    width: 500px; 
    height: 40px;
    position: relative;
    margin-bottom: 20px;
    padding-top: 12px;
    padding-left: 15px;
    color: black;
    border-radius: 20px;
    border-style: hidden;
    box-shadow: 0 3px 10px rgb(0 0 0 / 0.3);
    background-color: #1ED760;
}
.songItem button{
    width: 30px;
    height: 30px;
    border-radius: 50%;
    border: none;
    background-image: url(circle-play-solid.svg);
    position: absolute;
    right: 30px;
    cursor: pointer;
    box-shadow: 0 3px 10px rgb(0 0 0 / 0.6);
}

#myProgress {
    -webkit-appearance: none;
    width: 26vw;
    height: 7px;
    margin-left: 80px;
    margin-top: 50px;
    margin-bottom: 40px;
    background: rgb(0, 0, 0);
    border-radius: 4px;
    cursor: pointer;
}

#myProgress::-webkit-slider-thumb {
    -webkit-appearance: none;
    background: #1ED760;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    box-shadow: 0 5px 5px rgba(255, 26, 26, 0.22);
}

.controlIcons {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.fa-play {
    font-size: 40px;
}
.fa-pause {
    font-size: 40px;
}

.controlIcons div.playbutton {
    height: 80px;
    width: 80px;
}

.controlIcons div {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    color: rgb(0, 0, 0);
    margin: 30px;
    background-color: #1ED760;
    height: 60px;
    width: 60px;
    border: none;
    border-radius: 50%;
    box-shadow: 0 3px 10px rgba(0, 0, 0, 0.22);
    
    cursor: pointer;
    font-size: 26px;
}

.icons img:hover {
    transform: scale(1.1);
    cursor: pointer;
}